* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  color: #43658b;
  text-align: center;
}

main {
  padding: 20px;
}

img {
  width: 200px;
  border-radius: 50%;
}

button {
  background-color: #ed6663;
  border: 0;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
}

.hidden {
  display: none;
}

form {
  margin-top: 20px;
}

form div {
  margin: 0 auto;
  margin-bottom: 7px;
  width: 300px;
}

form div input, form div button {
  width: 100%;
}

form div input {
  padding: 10px 10px;
  border: 1px solid #43658b;
  border-radius: 5px;
  color: #43658b;
}